:root{
	--main-fonts:'Roboto', sans-serif;
	--main-color:#1abc9c;
	--second-fonts:'Roboto';
	--footer-fonts:'Open Sans';
}
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.nav-li a:hover{
	color: #1abc9c;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.navigation{
padding-bottom: 34px;
}



.logo::first-letter{
	font-weight: 900;
	color: var(--main-color);
	font-family: var(--main-fonts);
}
.logo{
	font-size: 30px;
	text-decoration: none;
	color: black;
	display: inline-block;
	vertical-align: middle;
	font-family: var(--main-fonts);
}


.nav-ul{
		float: right;
	    padding-top: 10px;
	    text-align: right;
	    vertical-align: middle;
	    font-family: var(--main-fonts);
	    font-weight: 900;
}
.clearfix::after{
content: '';
display: table;
clear: both;
}
.nav-li{
	display: inline-block;
	padding-right:26px;
	text-transform: uppercase;
	vertical-align: middle;
}
.nav-li a {
	text-decoration: none;
	color: black;
}
.nav-li:last-child{
padding-right:0px;	
}
header{
	padding-top: 37px;
}

.section-img-slider {
	position: relative;
}

.section-img-slider::before{
	content: '';
	position: absolute;
	 left:0px;
	 top: 0px; 
	 width: 100%; 
	 height: 100%; 
	 background-color: rgba(50,50,50,0.50);
	 z-index: 0;
}

.section-img-size{

}
.section-img-h1-slider{
	color: white;
	font-weight: bold;
	font-size: 60px;
}

.section-img-p-slider{
	
	
	color:white;
	
	font-size: 24px;

}
.section-main-slider{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-family: var(--main-fonts);

}
.section-btn-slider{
	width: 1110px;

}
.prev{
	background-image: url('assets/img/prev.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 90px;
	width: 104px;
	border: none;
	background-color: rgba(26,188,156,0.6);
	float: left;
	cursor: pointer;
}
.next{
	background-image: url('assets/img/next.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 90px;
	width: 104px;
	border: none;
	background-color: rgba(26,188,156,0.6);
	float: right;
	cursor: pointer;
}

.collection{
	position: relative;
	background-color: rgb(233,240,253);
	padding-top: 97px;
}
.collection-h2{
	text-align: center;
	text-transform: uppercase;
	font-family: var(--main-fonts);
	font-size: 48px;
	font-weight: 900;
	
}
.collection-h2::after{
	content: '';
	display: block;
	width: 164px;
  	height: 7px;
  	background-color: rgb(26, 188, 156);
  	margin:30px auto 80px;
}
.collection-main{
	position: relative;
	padding-bottom: 100px;
}
.collection-ul{
	font-size: 0px;
}
.collection-li{
	display: inline-block;
	margin-right: 30px;
	position: relative;
}
.collection-li:last-child{
	margin-right: 0px;
}
.collection-li img {
	display: block;
	height: 100%;

}
.collection-name-product{
	font-size: 18px;
	font-family: var(--second-fonts);
	display: inline-block;
	background-color: black;
	color: white;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	padding-left: 18px;
	font-weight: 600;

}
.collection-price{
	display: inline-block;
	font-size: 18px;
	width: 55px;
	height: 40px;
	background-color:rgba(140,140,140,0.8);
	line-height: 40px;
	text-transform: uppercase;	
	padding-left: 12px;
	color: white;
	font-weight: 600;
	font-family: var(--second-fonts);
}

.section-img-size{
	width: 100%;
	display: block;
}
.section-main-info{
	position: absolute; 
	left: 160px;
}
.card{
	font-size: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 89%;    
}
.card:hover{
background-color: rgba(50,50,50,0.50);
border: 10px solid rgba(255, 255, 255, 0.5);
}

.like{
  background-image: url('assets/img/like.png');
}
.strelka{
  background-image: url('assets/img/strelki.png');
}
.oclock{
 background-image: url('assets/img/oclock.png'); 
}
.btn{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
}
.card-position{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);		
	text-align: center;
}
.collection-li-btn{
	display: inline-block;
	text-decoration: none;	
}
.collection-ul-btn{
	list-style: none;
}
.collection-li-link{
	color: white;
	font-size: 14px;
	width: 164px;
  	height: 48px;
  	border-width: 1px;
  	border-color: rgb(255, 255, 255);
 	 border-style: solid;
  	background-color: rgb(50, 50, 50);
  	background-image: url('assets/img/card.png');
  	background-repeat: no-repeat;
  	background-position: left 15px center;
  	padding-left: 35px;
}
.collection-li-btn:hover button{
background-color: var(--main-color);
}

.footer-h5{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 38px;
	background-color: #323232;
	color:white;
}

.card-position{
	display: none;
}


.card:hover .card-position{
	display: block;
}

.collection-info:hover .collection-name-product{
	background-color: var(--main-color);
}
.collection-info:hover .collection-price{
	background-color: var(--main-color);
}
.footer-h5{
	font-family: var(--footer-fonts);
}
.footer-style{
	color: var(--main-color);
}